@use 'sass:color';
@use "./pico-customized" as pico;

@mixin light-colors {
  --form-element-background-color: #{pico.$white};
  --pane-border-color: #{pico.$grey-100};
  --focused-background-color: #{pico.$grey-100};
  --focused-border-color: #{pico.$grey-700};
  --hover-background-color: rgb(245 241 238);
  --input-background-color: #{rgba(pico.$grey-50, 0.5)};
  --coto-flow-background-color: #{rgba(pico.$grey-50, 0.5)};
  --traversal-background-color: #{pico.$grey-50};
  --traversed-border-color: #{pico.$grey-300};
  --scrollbar-color: #{pico.$grey-400};
  --pinned-background-color: #{rgba(pico.$grey-50, 0.5)};
  --parent-button-color: #{rgba(pico.$grey-50, 0.5)};
  --ok-color: #{pico.$green-800};
  --error-color: #{pico.$red-800};
  --color-in-light-background: #{pico.$grey-700};
  --embedded-cotobackground-color: rgb(246 247 249);
  --box-shadow: rgba(0, 0, 0, .1);
}

@mixin dark-colors {
  --pane-border-color: #{pico.$grey-800};
  --focused-background-color: #{pico.$grey-600};
  --focused-border-color: #{pico.$grey-200};
  --hover-background-color: #{pico.$grey-800};
  --input-background-color: #{pico.$grey-900};
  --coto-flow-background-color: #{pico.$grey-900};
  --traversal-background-color: #{color.mix(pico.$grey-900, pico.$grey-800, 75%)};
  --traversed-border-color: #{pico.$grey-500};
  --scrollbar-color: #{pico.$grey-600};
  --pinned-background-color: #{pico.$grey-900};
  --parent-button-color: #{color.mix(pico.$grey-900, pico.$grey-800, 75%)};
  --ok-color: #{pico.$green-700};
  --error-color: #{pico.$red-700};
  --color-in-light-background: #{pico.$grey-700};
  --embedded-cotobackground-color: #{pico.$grey-900};
  --box-shadow: rgba(0, 0, 0, .8);
}

// Default: Light theme
// Can be forced with data-theme="light"
[data-theme="light"],
:root:not([data-theme="dark"]) {
  @include light-colors;
}

// Dark theme (Auto)
// Automatically enabled if user has Dark mode enabled
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    @include dark-colors;
  }
}

// Dark theme (Forced)
// Enabled if forced with data-theme="dark"
[data-theme="dark"] {
  @include dark-colors;
}