@use "./pico-customized" as pico;

// Default: Light theme
// Can be forced with data-theme="light"
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pane-border-color: #{pico.$grey-100};
  --focused-background-color: #{pico.$grey-100};
  --focused-border-color: #{pico.$grey-700};
  --hover-background-color: #{pico.$grey-50};
  --input-background-color: #{rgba(pico.$grey-50, 0.5)};
  --traversal-background-color: #{pico.$grey-50};
  --traversed-border-color: #{pico.$grey-300};
  --scrollbar-color: #{pico.$grey-400};
  --pinned-background-color: #{rgba(pico.$grey-50, 0.5)};
  --parent-button-color: #{rgba(pico.$grey-50, 0.5)};
}

// Dark theme (Auto)
// Automatically enabled if user has Dark mode enabled
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pane-border-color: #{pico.$grey-800};
    --focused-background-color: #{pico.$grey-600};
    --focused-border-color: #{pico.$grey-200};
    --hover-background-color: #{pico.$grey-800};
    --input-background-color: #{pico.$grey-900};
    --traversal-background-color: #{mix(pico.$grey-900, pico.$grey-800, 75%)};
    --traversed-border-color: #{pico.$grey-500};
    --scrollbar-color: #{pico.$grey-600};
    --pinned-background-color: #{pico.$grey-900};
    --parent-button-color: #{mix(pico.$grey-900, pico.$grey-800, 75%)};
  }
}

// Dark theme (Forced)
// Enabled if forced with data-theme="dark"
[data-theme="dark"] {
  --pane-border-color: #{pico.$grey-800};
  --focused-background-color: #{pico.$grey-600};
  --focused-border-color: #{pico.$grey-200};
  --hover-background-color: #{pico.$grey-800};
  --input-background-color: #{pico.$grey-900};
  --traversal-background-color: #{mix(pico.$grey-900, pico.$grey-800, 75%)};
  --traversed-border-color: #{pico.$grey-500};
  --scrollbar-color: #{pico.$grey-600};
  --pinned-background-color: #{pico.$grey-900};
  --parent-button-color: #{mix(pico.$grey-900, pico.$grey-800, 75%)};
}