//
// Default styles by customizing Pico's style
//

@use "mixins";

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100%;
  height: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

section {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  width: auto;

  @include mixins.force-unselectable;
}

a {
  cursor: pointer;
}

input[type=text],
input[type=password],
textarea {
  background-color: var(--input-background-color);
}

// override pico's style to move the margin below validation messages
input:not([type="checkbox"], [type="radio"]),
select,
textarea {
  margin-bottom: 0;
}