section.flow {
  display: flex;
  flex-direction: column;

  section.timeline {
    flex: 1;
    min-height: 0; // let this item shrink below the content size

    .posts {
      overflow-x: hidden;
      overflow-y: hidden;

      // SimpleBar div
      >div {
        height: 100%;
      }

      .more {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
      }
    }

    .post {
      border-bottom: 1px solid var(--pane-border-color);

      .repost-header {
        padding: 0 var(--block-spacing-horizontal);
        padding-top: 5px;
        color: var(--muted-color);
        background-color: var(--card-background-color);

        span.material-symbols {
          font-size: 1.2rem;
          vertical-align: middle;
        }

        a.reposted-in {
          margin-left: 4px;
          font-size: 0.8rem;
          color: var(--muted-color);
          text-decoration: underline;
        }

        address.reposter {
          display: inline;
          margin-left: 16px;
          color: var(--muted-color);
          font-size: 0.9rem;

          img.node-icon {
            width: 15px;
            height: 15px;
            border-radius: 4px;
            margin-right: 4px;
          }
        }
      }
    }

    article.coto {
      padding: 1rem 0;

      span.pinned {
        top: -12px;
        right: 10px;
      }

      address.author {
        padding: 0 var(--block-spacing-horizontal);
        color: var(--muted-color);
        font-weight: 700;

        img.node-icon {
          width: 26px;
          height: 26px;
          border-radius: 4px;
          margin-right: 6px;
        }
      }

      section.image-content {
        padding-left: 0; // fit to the left border
      }

      footer {
        background: inherit;
        text-align: right;
        margin: 0;
        padding: 0 var(--block-spacing-horizontal);
        border-style: none;

        time {
          font-size: 0.8rem;
          opacity: .5;
        }
      }
    }

    div.links {
      background-color: var(--card-background-color);
      text-align: center;

      button.open-traversal span.material-symbols {
        font-size: 24px;
      }
    }
  }
}