@use "./pico-customized" as pico;

div.app>footer {
  position: relative;

  div.log-peek {
    position: absolute;
    top: 2px;
    right: 10px;

    font-size: 12px; // in the fixed footer height
    opacity: .6;

    &.error {
      color: #{pico.$amber-900};
    }

    span.material-symbols {
      margin-right: 3px;
      font-size: 14px;
      line-height: 16px;
      vertical-align: text-top;
    }
  }
}