main {
  display: flex;
  flex-direction: row;

  .split-pane {
    width: 100%;
  }

  // wrapped in SplitPane
  section.flow,
  section.stock {
    width: 100%;
    height: 100%;
  }

  .occupying {
    flex: 1 !important;
  }
}