main {
  display: flex;
  flex-direction: row;

  // section.flow should fill up the remaining space if section.stock doesn't exist.
  section.flow {
    flex: 1;
    min-width: 0; // let this item shrink below the content size

    button.fold {
      display: none;
    }
  }

  &.with-stock section.flow {
    flex: 0 0 600px;

    button.fold {
      display: block;
    }
  }

  // section.stock is rendered only when the current cotonoma has pinned cotos.
  section.stock {
    // display: none;

    flex: 1;
    min-width: 0; // let this item shrink below the content size
    border-left: 1px solid var(--pane-border-color);
  }
}