section.pinned {
  >header.tools button {
    span.material-symbols {
      opacity: .5;
    }

    &.selected {
      cursor: initial;
      border-bottom: 1px solid var(--selected-border-color);

      span.material-symbols {
        opacity: 1;
      }
    }
  }

  >div.body {
    padding-top: 10px;
    // background-color: var(--pinned-background-color);

    // SimpleBar div
    >div {
      width: 100%;
      height: 100%;
    }
  }

  ol.pinned-cotos {
    article.pinned-coto {
      position: relative;

      >header {
        ul.other-cotonomas {
          padding-right: 10px;
        }
      }

      div.body {
        position: relative;

        // position the unpin button at the vertical middle of the left end.
        button.unpin {
          position: absolute;
          top: 0;
          left: 3px;
          bottom: 0;
        }
      }
    }
  }

  .document-view {
    li.pin {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 3rem;
      max-width: var(--max-article-width);
    }

    article.coto.has-children {

      section.text-content p:first-child,
      span.summary {
        font-size: 1.1rem;
      }
    }
  }

  .column-view {
    padding-right: 16px;

    .simplebar-content-wrapper {
      overflow-x: auto;
      overflow-y: hidden;

      .simplebar-content {
        height: 100%;
      }
    }

    ol.pinned-cotos {
      display: flex;
      flex-direction: row;

      height: 100%;
      padding-left: 16px;
    }

    li.pin {
      flex: 1;
      min-width: 400px;
      margin-right: 16px;

      display: flex;
      flex-direction: column;

      .scrollable-sub-cotos {
        min-height: 0; // let this item shrink below the content size

        // SimpleBar div
        >div {
          width: 100%;
          height: 100%;
        }
      }

      ol.sub-cotos {
        padding-bottom: 3rem;
      }
    }
  }
}