section.pinned {
  >header.tools button {
    span.material-symbols {
      opacity: .5;
    }

    &.selected {
      cursor: initial;
      border-bottom: 1px solid var(--selected-border-color);

      span.material-symbols {
        opacity: 1;
      }
    }
  }

  >div.body {
    padding-top: 10px;
    // background-color: var(--pinned-background-color);

    // SimpleBar div
    >div {
      width: 100%;
      height: 100%;
    }
  }

  ol.pinned-cotos {
    li.pin {
      margin-right: auto;
      margin-left: auto;
      max-width: var(--max-article-width);
    }

    article.pinned-coto {
      position: relative;

      >header {
        ul.other-cotonomas {
          padding-right: 10px;
        }
      }

      div.body {
        position: relative;

        // position the unpin button at the vertical middle of the left end.
        button.unpin {
          position: absolute;
          top: 0;
          left: 3px;
          bottom: 0;
        }
      }
    }

    &.document-view {
      overflow-y: auto;

      li.pin {
        margin-bottom: 3rem;
      }
    }

    &.column-view {
      display: flex;
      flex-direction: row;

      padding-left: 16px;
      padding-right: 16px;
      overflow-x: auto;

      li.pin {
        flex: 1;
        min-width: 400px;

        display: flex;
        flex-direction: column;

        ol.sub-cotos {
          overflow-y: auto;
        }
      }
    }
  }
}