.split-pane {
  &.vertical {
    display: flex;
    flex-direction: row;

    .separator {
      cursor: col-resize;
    }
  }

  &.horizontal {
    display: flex;
    flex-direction: column;

    .separator {
      cursor: row-resize;
    }
  }

  .separator {
    border: 5px solid var(--pane-border-color);
  }

  .split-pane-primary {
    flex: none;
  }

  .split-pane-secondary {
    flex: 1;
  }
}

.split-pane.hello {
  .split-pane-primary {
    padding: 20px;
  }

  .split-pane-secondary {
    padding: 20px;
  }
}