.split-pane {
  &.vertical {
    display: flex;
    flex-direction: row;

    .separator {
      width: 3px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      cursor: col-resize;

      .separator-inner {
        border-left: 1px solid var(--pane-border-color);
      }

      &:hover,
      &.moving {
        background-color: var(--primary);

        .separator-inner {
          border-left: 1px solid var(--primary);
        }
      }
    }
  }

  &.horizontal {
    display: flex;
    flex-direction: column;

    .separator {
      height: 3px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: row-resize;

      .separator-inner {
        border-top: 1px solid var(--pane-border-color);
      }

      &:hover,
      &.moving {
        background-color: var(--primary);

        .separator-inner {
          border-top: 1px solid var(--primary);
        }
      }
    }
  }

  .split-pane-primary {
    flex: none;
  }

  .split-pane-secondary {
    flex: 1;
  }
}

.split-pane.hello {
  .split-pane-primary {
    padding: 20px;
  }

  .split-pane-secondary {
    padding: 20px;
  }
}