@use "pico-customized" with ($enable-responsive-typography: false);

@use "color";
@use "utils";
@use "defaults";
@use "utility-classes";
@use "components";

@use "app";


:root {
  --header-height: 36px;
  --footer-height: 25px;
  --max-text-content-width: 45rem;
  --max-article-width: calc(var(--max-text-content-width) + var(--block-spacing-horizontal));

  // override pico's custom properties
  --form-element-spacing-vertical: 0.5rem;
}