:root {
  --header-height: 36px;
  --footer-height: 25px;
  --max-text-content-width: 45rem;
  --max-article-width: calc(var(--max-text-content-width) + var(--block-spacing-horizontal));

  // override pico's custom properties
  --form-element-spacing-vertical: 0.5rem;
}

div.app {
  position: relative;
  width: 100%;
  height: 100%;

  >header {
    height: var(--header-height);
    border-bottom: 1px solid var(--pane-border-color);
  }

  #app-body {
    display: flex;
    flex-direction: row;

    nav.nodes {
      flex: 0 0 45px;
      border-right: 1px solid var(--pane-border-color);
    }

    div.node-contents {
      flex: 1;
      min-width: 0; // let this item shrink below the content size

      // wrapped in SplitPane
      nav.cotonomas,
      main {
        width: 100%;
        height: 100%;
      }

      main {
        display: flex;
        flex-direction: row;

        .split-pane {
          width: 100%;
        }

        // wrapped in SplitPane
        section.flow,
        section.stock {
          width: 100%;
          height: 100%;
        }

        .occupying {
          flex: 1 !important;
        }
      }
    }
  }

  >footer {
    height: var(--footer-height);
    border-top: 1px solid var(--pane-border-color);
  }

  .log-view {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  button.help {
    margin-left: 8px;
    vertical-align: middle;

    &:disabled {
      opacity: 0.3;
    }
  }

  section.help {
    position: relative;
    border: 1px dashed var(--pane-border-color);
    border-radius: var(--border-radius);
    margin-bottom: 20px;
    padding: 16px;

    button.close {
      position: absolute;
      top: 6px;
      right: 6px;
      margin: 0;
      padding: 0;
      width: 16px;
      height: 16px;
      background-size: auto 0.8rem;
    }

    animation: slide-in-top 0.1s linear;

    @keyframes slide-in-top {
      0% {
        transform: translateY(-50px);
      }

      100% {
        transform: translateY(0);
      }
    }
  }

  .validation-error {
    font-size: 95%;
    color: var(--form-element-invalid-border-color)
  }

  span.node {
    img.node-icon {
      width: 26px;
      height: 26px;
      border-radius: 4px;
      vertical-align: middle;
      margin-right: 6px;
    }

    .name {
      vertical-align: middle;
      font-weight: 700;
    }
  }

  section.input-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px dashed var(--pane-border-color);
    border-radius: 4px;

    &.drag-active {
      border-color: var(--color);
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 1.1rem;
      color: var(--muted-color);
      text-align: center;
    }
  }

  div.geomap-marker {
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 2px;

    &:hover {
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 100%;
      opacity: 0.5;
    }

    &.coto-marker {
      border-radius: 15px;

      img {
        border-radius: 15px;
      }
    }

    &.cotonoma-marker {
      border-radius: 4px;

      img {
        border-radius: 4px;
      }
    }

    &.in-context img {
      opacity: 1;
    }
  }
}