@use "../mixins";

section.text-content {
  @include mixins.selectable;

  p {
    overflow-wrap: anywhere;
  }

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  blockquote {
    &:first-child {
      margin-top: 0;
    }

    p {
      color: var(--muted-color);
    }
  }

  pre,
  code {
    white-space: pre;
  }

  ul,
  ol {
    padding-left: var(--spacing);
    margin-bottom: var(--typography-spacing-vertical);
  }

  ul li {
    list-style: disc inside;
  }

  ol li {
    list-style: decimal inside;
  }

  li,
  li>p {
    margin-bottom: calc(var(--typography-spacing-vertical) * 0.25);
  }
}

// override pico's style
dialog article section.text-content p:last-of-type:not(:last-child) {
  margin-bottom: var(--typography-spacing-vertical);
}