.cotonoma-select {
  color: var(--color-in-white-background);

  // Reset the pico style
  input {
    height: auto;

    &:is(:active, :focus) {
      box-shadow: none;
    }
  }

  img.node-icon {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    vertical-align: top;
    margin-right: 5px;
  }

  span.cotonoma-name {
    font-weight: 600;
  }

  span.description {
    margin-right: 10px;
    opacity: 0.7;
  }
}