.coto-flow {
  background-color: var(--coto-flow-background-color);

  .scroll-area {
    padding-left: 6px;
    padding-right: 8px; // extra padding for the scrollbar

    .simplebar-content {
      // override the default padding to make a space for
      // the coto toolbar of the first coto.
      padding-top: 20px !important;
    }
  }

  .flow-entry {
    margin-bottom: 10px;

    &.poster-change {
      margin-top: 50px;
    }

    article.coto {
      border-radius: 8px;
      box-shadow: var(--card-box-shadow);
      padding: 1rem 0;

      >header {
        padding: 0 var(--block-spacing-horizontal);
      }

      div.content {
        section.media-content {
          // fit to the left and right border
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    div.itos {
      background-color: var(--coto-flow-background-color);

      .open-traversal {
        margin-top: -2px;
        border-left: 1px solid var(--pane-border-color);
        border-bottom: 1px solid var(--pane-border-color);
        border-right: 1px solid var(--pane-border-color);
        border-radius: 0 0 4px 4px;
        padding: 2px 16px 26px 16px;
        background-color: var(--parent-button-color);
      }
    }
  }

  .more {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  div.itos {
    padding-top: 3px;
    background-color: var(--card-background-color);
    text-align: center;
  }
}