article.coto {
  position: relative;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-shadow: none;

  padding-left: 8px;
  padding-bottom: 1rem;

  &.has-children {
    border-bottom: 2px dotted var(--pane-border-color);

    // as a section title
    section.text-content p:first-child {
      font-weight: 650;
    }

    .collapsible-content section.text-content p:first-child {
      font-weight: normal;
    }
  }

  &:hover {
    background-color: var(--hover-background-color);
  }

  >header {
    position: relative;
    margin: 0;
    padding: 0;
    border-style: none;
    background-color: inherit;

    min-height: 1rem; // empty header serves as padding-top of article.coto

    div.classified-as {
      display: flex;
      flex-direction: row;
      width: 100%;

      ul.other-cotonomas {
        flex: 1;
        text-align: right;

        li {
          display: inline;

          a.also-posted-in {
            margin-left: 5px;
            font-size: 0.8rem;
            color: var(--muted-color);
            text-decoration: underline;
          }
        }
      }

      div.pinned {
        margin-left: 10px;
        padding-top: 1px;

        span.material-symbols {
          opacity: 0.5;
        }
      }
    }
  }

  section.text-content {
    padding: 0 var(--block-spacing-horizontal);
  }

  section.cotonoma-content {
    padding: 0 var(--block-spacing-horizontal);
    font-weight: 700;

    a.cotonoma {
      color: var(--h3-color);
    }

    img.node-icon {
      width: 20px;
      height: 20px;
      border-radius: 4px;
      vertical-align: text-bottom;
      margin-right: 6px;
    }
  }

  section.media-content {
    padding-left: var(--block-spacing-horizontal);

    &.with-text {
      margin-bottom: 8px; // fixed margin to the image
    }
  }

  .collapsible-content {
    section.summary {
      padding: 0 var(--block-spacing-horizontal);

      span.material-symbols {
        margin-right: 6px;
        vertical-align: top;
      }

      span.summary {
        color: var(--muted-color);
        font-weight: 700;
        cursor: pointer;
      }
    }

    .details {
      display: none;

      &.open {
        display: block;
        margin-top: 1rem;
      }
    }
  }
}

ul.parents {
  padding-top: 12px;
  background-color: var(--card-background-color);

  li {
    padding: 0 var(--block-spacing-horizontal);
    padding-bottom: 6px;

    button.parent {
      display: block;
      width: 100%;
      padding: 4px 12px;
      color: var(--h6-color);
      background-color: var(--parent-button-color);
      font-size: 0.9rem;
      opacity: 0.5;

      &:hover {
        background-color: var(--hover-background-color);
        text-decoration: none;
      }
    }
  }
}

ol.sub-cotos {
  article.sub-coto {
    >header {
      display: flex;
      flex-direction: row;

      button.unlink {
        margin-top: 3px;
        margin-left: 3px;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }

      ul.other-cotonomas {
        flex: 1;
      }
    }
  }
}

section.text-content {

  p {
    overflow-wrap: anywhere;
  }

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  blockquote:first-child {
    margin-top: 0;
  }

  pre,
  code {
    white-space: pre-wrap;
  }

  ul,
  ol {
    padding-left: var(--spacing);
    margin-bottom: var(--typography-spacing-vertical);
  }

  ul li {
    list-style: disc inside;
  }

  ol li {
    list-style: decimal inside;
  }

  li {
    margin-bottom: calc(var(--typography-spacing-vertical) * 0.25);
  }
}