section.coto-details {
  >header {
    position: relative;
    padding-top: 8px;
    padding-left: 4px;

    button.tool {
      height: 24px;
      line-height: 24px;

      span.material-symbols {
        font-size: 22px;
      }
    }

    button.close {
      position: absolute;
      right: 20px;
    }
  }

  >.body {

    // SimpleBar div
    >div {
      height: 100%;
    }
  }

  article.coto {
    padding: 1rem 0;

    div.content {
      section.media-content {
        // fit to the left and right border
        padding-left: 0;
        padding-right: 0;
      }
    }

    section.cotonoma-content {
      margin-top: 1rem;

      section.media-content {
        margin-bottom: 8px;
        padding: 0 var(--block-spacing-horizontal);
        text-align: center;
      }

      section.text-content {
        padding: 0 var(--block-spacing-horizontal);
      }
    }
  }

  article.main-coto {
    padding-top: 32px; // space for the toolbar
    padding-bottom: 16px;

    >section.coto-toolbar {
      top: 0;
    }

    >header {
      padding: 0 var(--block-spacing-horizontal);
    }

    &:hover {
      background-color: var(--card-background-color);
    }
  }

  div.sub-cotos {
    margin-bottom: var(--block-spacing-vertical);
    margin-left: var(--block-spacing-horizontal);

    div.sub {
      border-top: 1px solid var(--pane-border-color);
      border-bottom: 1px solid var(--pane-border-color);

      article.sub-coto {
        >header {
          position: relative;
          padding: 0 var(--block-spacing-horizontal);

          div.link-container {
            position: absolute;
            top: -10px;
            left: 10px;
            right: 10px;
          }

          div.attributes {
            padding-top: 20px; // also as padding-top of the header
          }
        }
      }

      div.links {
        padding-top: 3px;
        background-color: var(--card-background-color);
        text-align: center;
      }
    }

    div.insert-linked-coto {
      padding: 5px 0;
      text-align: center;

      button.insert-linked-coto {
        opacity: 0.3;

        span.material-symbols {
          font-size: 20px; // use px here to fix the icon size
        }
      }

      &:hover button.insert-linked-coto {
        opacity: 1;
      }
    }
  }
}