.coto-flow {
  background-color: var(--coto-flow-background-color);

  .scroll-area {
    padding-left: 4px;
    padding-right: 6px;

    .simplebar-content {
      // override the default padding to make a space for
      // the coto toolbar of the first coto.
      padding-top: 20px !important;
    }
  }

  .flow-entry {
    margin-bottom: 6px;

    &.poster-change {
      margin-top: 30px;
    }

    article.coto {
      border-radius: 4px;
      box-shadow: var(--card-box-shadow);
      padding: 0;
      padding-top: 10px;

      ul.parents {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      >header {
        padding: 0 var(--block-spacing-horizontal);
      }

      div.content {
        section.media-content {
          // fit to the left and right border
          padding-left: 0;
          padding-right: 0;
        }
      }

      div.padding-bottom {
        min-height: 12px;
      }
    }
  }

  .more {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
}