section.text-content {

  p {
    overflow-wrap: anywhere;
  }

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  blockquote:first-child {
    margin-top: 0;
  }

  pre,
  code {
    white-space: pre-wrap;
  }

  ul,
  ol {
    padding-left: var(--spacing);
    margin-bottom: var(--typography-spacing-vertical);
  }

  ul li {
    list-style: disc inside;
  }

  ol li {
    list-style: decimal inside;
  }

  li {
    margin-bottom: calc(var(--typography-spacing-vertical) * 0.25);
  }
}