@use "../mixins";

article.coto {
  position: relative;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-shadow: none;

  padding-left: 8px;
  padding-bottom: 1rem;

  @include mixins.selectable;

  &.has-children {
    border-bottom: 2px dotted var(--pane-border-color);

    // as a section title
    section.text-content p:first-child {
      font-weight: 650;
    }

    .collapsible-content section.text-content p:first-child {
      font-weight: normal;
    }
  }

  &:hover {

    section.coto-toolbar,
    section.reorder-toolbar {
      display: inline-block;
    }
  }

  &.selected {
    border: 2px dotted var(--selection-color);
  }

  &:hover,
  &.highlighted {
    background-color: var(--hover-background-color) !important;
  }

  &.embedded {
    padding: 1rem 1rem;
    background-color: var(--embedded-cotobackground-color);

    &:hover {
      background-color: var(--embedded-cotobackground-color);
    }

    >header {
      background-color: transparent;

      address.author {
        margin-bottom: 1rem;
      }
    }

    div.body {
      div.scroll-area {
        max-height: 20vh;
      }

      section.cotonoma-label,
      section.text-content,
      section.media-content {
        padding: 0;
      }
    }
  }

  &.being-deleted {
    opacity: 0.3;

    section.coto-toolbar {
      display: none;
    }
  }

  >header {
    position: relative;
    margin: 0;
    padding: 0;
    border-style: none;
    background-color: inherit;

    min-height: 20px; // empty header serves as padding-top of article.coto

    address.author {
      margin-bottom: 1rem;
      color: var(--muted-color);
    }
  }

  div.attributes {
    display: flex;
    flex-direction: row;
    width: 100%;

    ul.other-cotonomas {
      flex: 1;
      text-align: right;

      li {
        display: inline;

        a.also-posted-in {
          margin-left: 5px;
          font-size: 0.8rem;
          color: var(--muted-color);
          text-decoration: underline;
        }
      }
    }

    button {
      margin-left: 1rem;

      span.material-symbols {
        vertical-align: middle;
      }
    }

    button.time-range {
      span.material-symbols {
        margin-right: 2px;
      }

      span.date {
        font-size: 12px;
        vertical-align: middle;
      }
    }

    button.geolocation {
      opacity: .5;

      &.focused {
        opacity: 1;
      }
    }

    div.pinned {
      margin-left: 10px;
      padding-top: 1px;

      span.material-symbols {
        opacity: 0.5;
      }
    }

    div.remote-node-icon {
      margin-left: 10px;
      padding-top: 1px;
      cursor: pointer;

      img.node-icon {
        width: 15px;
        height: 15px;
        border-radius: 3px;
      }
    }
  }

  div.content {
    section.cotonoma-label {
      padding: 0 var(--block-spacing-horizontal);
      font-weight: 700;

      a.cotonoma {
        color: var(--primary);
      }

      img.node-icon {
        width: 20px;
        height: 20px;
        border-radius: 4px;
        vertical-align: text-bottom;
        margin-right: 6px;
      }
    }

    section.text-content {
      padding: 0 var(--block-spacing-horizontal);
    }

    section.media-content {
      margin-top: 4px;
      margin-bottom: 8px;
      padding: 0 var(--block-spacing-horizontal);
      text-align: center;
    }

    .collapsible-content {
      section.summary {
        padding: 0 var(--block-spacing-horizontal);

        span.material-symbols {
          margin-right: 6px;
          vertical-align: top;
        }

        span.summary {
          color: var(--muted-color);
          font-weight: 700;
          cursor: pointer;
        }
      }

      .details {
        display: none;

        &.open {
          display: block;
          margin-top: 1rem;
        }
      }
    }
  }

  >footer {
    display: flex;
    flex-direction: row-reverse;

    background: inherit;
    margin: 0;
    margin-top: 4px;
    padding: 0 var(--block-spacing-horizontal);
    border-style: none;
    line-height: 1rem;

    time {
      font-size: 0.8rem;
      opacity: .5;
      cursor: auto;
    }
  }
}

section.coto-toolbar {
  position: absolute;
  top: -16px;
  right: 10px;
  z-index: 10;

  border: 1px solid var(--pane-border-color);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  background-color: var(--card-background-color);

  display: none;

  button.tool {
    margin-left: 3px;
    margin-right: 3px;
    padding: 0 5px;

    span.material-symbols {
      font-size: 20px;
    }
  }

  button.new-ito {
    color: var(--selection-color);
    opacity: 1;
  }
}

section.reorder-toolbar {
  position: absolute;
  bottom: -16px;
  left: 0;
  z-index: 10;

  border: 1px solid var(--pane-border-color);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  background-color: var(--card-background-color);

  display: none;

  button.tool {
    margin-left: 3px;
    margin-right: 3px;
    padding: 0 5px;

    &:disabled {
      opacity: 0.2;
    }

    &.move-to-top {
      font-size: 20px;
    }

    &.move-up {
      font-size: 18px;
    }

    &.move-down {
      font-size: 18px;
    }

    &.move-to-bottom {
      font-size: 20px;
    }
  }

  span.reordering {
    margin-left: 8px;
    margin-right: 8px;
    vertical-align: text-bottom;
  }
}

ul.parents {
  padding-top: 12px;

  li {
    padding: 0 var(--block-spacing-horizontal);
    padding-bottom: 6px;

    button.parent {
      display: block;
      width: 100%;
      border: 1px solid var(--pane-border-color);
      border-radius: 4px;
      padding: 4px 12px;
      color: var(--h6-color);
      background-color: var(--parent-button-color);
      font-size: 0.9rem;
      opacity: 0.5;

      &:hover {
        background-color: var(--hover-background-color);
        text-decoration: none;
      }
    }
  }
}

div.itos {
  button.open-traversal {
    height: 24px;
    line-height: 24px;

    span.material-symbols {
      font-size: 22px;
    }
  }
}