article.coto {
  position: relative;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-shadow: none;

  padding-left: 8px;
  padding-bottom: 1rem;

  &.has-children {
    border-bottom: 2px dotted var(--pane-border-color);

    // as a section title
    section.text-content p:first-child {
      font-weight: 650;
    }

    .collapsible-content section.text-content p:first-child {
      font-weight: normal;
    }
  }

  section.coto-toolbar {
    position: absolute;
    top: -16px;
    right: 10px;
    z-index: 10;

    border: 1px solid var(--pane-border-color);
    border-radius: var(--border-radius);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    background-color: var(--hover-background-color);

    display: none;

    button.tool {
      margin-left: 3px;
      margin-right: 3px;
      padding: 0 5px;
      opacity: 0.5;

      span.material-symbols {
        font-size: 20px;
      }

      &:hover {
        opacity: 1.0;
      }
    }
  }

  &:hover {
    background-color: var(--hover-background-color);

    section.coto-toolbar {
      display: inline-block;
    }
  }

  >header {
    position: relative;
    margin: 0;
    padding: 0;
    border-style: none;
    background-color: inherit;

    min-height: 20px; // empty header serves as padding-top of article.coto

    address.author {
      color: var(--muted-color);
    }
  }

  div.attributes {
    display: flex;
    flex-direction: row;
    width: 100%;

    ul.other-cotonomas {
      flex: 1;
      text-align: right;

      li {
        display: inline;

        a.also-posted-in {
          margin-left: 5px;
          font-size: 0.8rem;
          color: var(--muted-color);
          text-decoration: underline;
        }
      }
    }

    button {
      margin-left: 8px;

      span.material-symbols {
        vertical-align: middle;
      }
    }

    button.geolocation {
      opacity: .5;

      &.focused {
        opacity: 1;
      }
    }

    div.pinned,
    div.connection {
      margin-left: 10px;
      padding-top: 1px;

      span.material-symbols {
        opacity: 0.5;
      }
    }
  }

  div.content {
    section.text-content {
      padding: 0 var(--block-spacing-horizontal);
    }

    section.cotonoma-content {
      padding: 0 var(--block-spacing-horizontal);
      font-weight: 700;

      a.cotonoma {
        color: var(--primary);
      }

      img.node-icon {
        width: 20px;
        height: 20px;
        border-radius: 4px;
        vertical-align: text-bottom;
        margin-right: 6px;
      }
    }

    section.media-content {
      margin-top: 4px;
      margin-bottom: 8px;
      padding: 0 var(--block-spacing-horizontal);
      text-align: center;
    }

    .collapsible-content {
      section.summary {
        padding: 0 var(--block-spacing-horizontal);

        span.material-symbols {
          margin-right: 6px;
          vertical-align: top;
        }

        span.summary {
          color: var(--muted-color);
          font-weight: 700;
          cursor: pointer;
        }
      }

      .details {
        display: none;

        &.open {
          display: block;
          margin-top: 1rem;
        }
      }
    }
  }

  >footer {
    display: flex;
    flex-direction: row-reverse;

    background: inherit;
    margin: 0;
    margin-top: 4px;
    padding: 0 var(--block-spacing-horizontal);
    border-style: none;
    line-height: 1rem;

    time {
      font-size: 0.8rem;
      opacity: .5;
      cursor: auto;
    }
  }
}

ul.parents {
  padding-top: 12px;
  background-color: var(--card-background-color);

  li {
    padding: 0 var(--block-spacing-horizontal);
    padding-bottom: 6px;

    button.parent {
      display: block;
      width: 100%;
      padding: 4px 12px;
      color: var(--h6-color);
      background-color: var(--parent-button-color);
      font-size: 0.9rem;
      opacity: 0.5;

      &:hover {
        background-color: var(--hover-background-color);
        text-decoration: none;
      }
    }
  }
}

div.links {
  button.open-traversal {
    height: 24px;
    line-height: 24px;

    span.material-symbols {
      font-size: 22px;
    }
  }
}

ol.sub-cotos {
  article.sub-coto {
    >header {
      position: relative;

      button.unlink {
        position: absolute;
        top: 0;
        left: 0;

        margin-top: 3px;
        margin-left: 3px;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

section.text-content {

  p {
    overflow-wrap: anywhere;
  }

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  blockquote:first-child {
    margin-top: 0;
  }

  pre,
  code {
    white-space: pre-wrap;
  }

  ul,
  ol {
    padding-left: var(--spacing);
    margin-bottom: var(--typography-spacing-vertical);
  }

  ul li {
    list-style: disc inside;
  }

  ol li {
    list-style: decimal inside;
  }

  li {
    margin-bottom: calc(var(--typography-spacing-vertical) * 0.25);
  }
}