section.coto-details {
  >header {
    padding-top: 8px;
    padding-left: 4px;

    button.back {
      height: 24px;
      line-height: 24px;

      span.material-symbols {
        font-size: 22px;
      }
    }
  }

  >.body {

    // SimpleBar div
    >div {
      height: 100%;
    }
  }

  article.coto {
    section.media-content {
      padding-left: 0; // fit to the left border
    }
  }

  article.main-coto {
    padding: 1rem 0;

    >header {
      padding: 0 var(--block-spacing-horizontal);
    }

    &:hover {
      background-color: var(--card-background-color);
    }
  }

  div.sub-cotos {
    margin-bottom: var(--block-spacing-vertical);
    margin-left: var(--block-spacing-horizontal);

    div.sub {
      border-top: 1px solid var(--pane-border-color);
      border-bottom: 1px solid var(--pane-border-color);

      article.sub-coto {
        cursor: pointer;

        div.classified-as {
          padding-right: 1rem;
        }
      }

      div.links {
        padding-top: 3px;
        background-color: var(--card-background-color);
        text-align: center;
      }
    }

    div.add-sub-coto {
      padding: 5px 0;
      text-align: center;

      button.add-sub-coto {
        opacity: 0.3;

        span.material-symbols {
          font-size: 20px; // use px here to fix the icon size
        }
      }

      &:hover button.add-sub-coto {
        opacity: 1;
      }
    }
  }
}