@use "../pico-customized" as pico;
@use "../mixins";

div.app>footer {
  position: relative;

  div.browser-nav {
    @include mixins.selectable;

    display: flex;
    flex-direction: row;

    padding-top: 2px;
    padding-left: 10px;

    div.path {
      font-size: 12px; // in the fixed footer height
      opacity: .6;
    }
  }

  div.message-peek {
    position: absolute;
    top: 2px;
    right: 10px;

    font-size: 12px; // in the fixed footer height
    opacity: .6;

    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.error {
      color: #{pico.$amber-900};
    }

    &.warn {
      color: #{pico.$amber-400};
    }

    span.material-symbols {
      margin-right: 3px;
      font-size: 14px;
      line-height: 16px;
      vertical-align: text-top;
    }
  }
}