div.app>header {
  div.header-content {
    position: relative;
  }

  &[data-os="macos"] div.header-content {
    margin-left: 80px;
  }

  section.location {
    height: var(--header-height);
    line-height: var(--header-height);

    a.node-home {
      &:hover {
        text-decoration: none;
      }

      img.node-icon {
        vertical-align: top;
        margin-top: 6px;
        margin-right: 4px;
      }
    }

    .arrow {
      font-size: 30px; // use px here to fix the icon size.
      vertical-align: top;
      opacity: .3;
    }

    h1.current-cotonoma {
      display: inline-block;

      margin: 0;
      height: 100%;

      // fix the font size since the header height is fixed
      font-size: 16px;
      font-weight: 700;

      // abbreviate a long cotonoma name
      max-width: 40vw;
      overflow-x: hidden;
      white-space: nowrap;
    }

    button.geolocation {
      margin-left: 8px;
      height: 100%;
      vertical-align: top;
      opacity: .5;

      &:hover {
        opacity: 1;
      }

      span.material-symbols {
        font-size: 18px; // use px here to fix the icon size
      }
    }
  }

  section.tools {
    position: absolute;
    top: 4px;
    right: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;

    div.tool-buttons {
      margin-right: 16px;

      button {
        height: 24px;
        line-height: 24px;

        padding: 0;
        padding-left: 5px;
        padding-right: 5px;

        span.material-symbols {
          font-size: 18px; // use px here to fix the icon size
          vertical-align: top;
        }
      }

      button.toggle-geomap {
        span.material-symbols {
          opacity: 0.5;
        }

        &.opened span.material-symbols {
          opacity: 1.0;
        }
      }
    }

    div.search {
      position: relative;
      margin-right: 16px;
      padding-top: 1px;

      input[type=search] {
        margin: 0;
        width: 25vw;
        height: 26px;
        border-radius: 4px;
        border-color: var(--pane-border-color);
        background-position: center left 8px;
        padding-inline-start: calc(var(--form-element-spacing-horizontal) + 16px);
        font-size: 14px;
      }
    }

    button.node-profile {
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }
  }

  img.node-icon {
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }
}