div.app>header {
  div.header-content {
    position: relative;
  }

  &[data-os="macos"] div.header-content {
    margin-left: 70px;
  }

  button.app-info {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 8px;
    opacity: .8;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    img.app-icon {
      width: 26px;
      height: 26px;
      margin-top: 2px;
    }
  }

  section.location {
    text-align: center;
    height: var(--header-height);
    line-height: var(--header-height);

    a.node-home {
      &:hover {
        text-decoration: none;
      }

      img.node-icon {
        vertical-align: top;
        margin-top: 6px;
        margin-right: 4px;
      }
    }

    .arrow {
      font-size: 30px; // use px here to fix the icon size.
      vertical-align: top;
      opacity: .3;
    }

    h1.current-cotonoma {
      display: inline-block;

      margin: 0;
      height: 100%;

      // fix the font size since the header height is fixed
      font-size: 17px;
      font-weight: 700;

      // abbreviate a long cotonoma name
      max-width: 40vw;
      overflow-x: hidden;
      white-space: nowrap;
    }
  }

  section.tools {
    position: absolute;
    top: 4px;
    right: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;

    div.tool-buttons {
      margin-right: 16px;

      button {
        height: 24px;
        line-height: 24px;

        padding: 0;
        padding-left: 5px;
        padding-right: 5px;

        span.material-symbols {
          font-size: 18px; // use px here to fix the icon size
          vertical-align: top;
        }
      }
    }

    button.node-profile {
      margin-left: 16px;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }
  }

  img.node-icon {
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }
}