dialog.subcoto {
  &>article {
    width: calc(var(--max-article-width) + (var(--block-spacing-horizontal) * 2));

    &>header h1 span.title-icon {
      margin-right: 10px;

      .arrow {
        vertical-align: baseline;
      }
    }

    div.modal-body {
      height: 80vh;

      display: flex;
      flex-direction: column;

      div.coto-form {
        flex: 1;
      }
    }
  }

  section.source {
    article.coto {
      &:hover {
        background-color: var(--embedded-cotobackground-color) !important;
      }

      div.body div.scroll-area {
        max-height: 150px;
      }
    }
  }

  section.post {
    margin-top: var(--spacing);

    display: flex;
    flex-direction: row;
    align-items: center;

    div.post-to {
      flex: 1;

      display: flex;
      flex-direction: row;
      align-items: center;

      .label {
        font-weight: 700;
        padding-right: 8px;
      }

      .cotonoma-select {
        width: 350px;

        span.current-mark {
          margin-left: 4px;
          opacity: 0.5;
        }
      }

      div.space {
        flex: 1;
      }
    }

    button.preview {
      margin-right: 10px;
    }
  }

  article {
    max-width: none;
  }

  &.with-media-content>article {
    width: calc(var(--max-article-width) + (var(--block-spacing-horizontal) * 2) + 200px);
  }
}