dialog.clients {
  article {
    max-width: 1200px;
    min-width: 600px;
  }

  div.modal-body {
    padding-top: 0;

    header {
      display: flex;
      flex-direction: row;
      align-items: center;

      margin-top: 10px;

      button.add {
        height: 30px;
        padding: 0;
        padding-left: 8px;
        padding-right: 10px;
        font-size: 14px;

        span.material-symbols {
          font-size: 20px;
          vertical-align: -5px;
        }
      }

      section.client-nodes-count {
        flex: 1;
        text-align: right;
      }
    }

    div.body {
      min-height: 30px;

      div.empty {
        text-align: center;
        color: var(--muted-color);
      }

      table.client-nodes {
        th {
          text-align: center;
          font-size: 90%;
          opacity: 0.8;
        }

        td.id {
          font-size: 90%;
          white-space: nowrap;

          code {
            color: var(--color);
          }
        }

        td.name {
          text-align: left;
          max-width: 180px;
          white-space: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;

          span.not-yet-connected {
            color: var(--muted-color);
          }
        }

        td.status {
          text-align: center;
          padding: 0;

          span.status {
            cursor: default;
            border-style: none;

            &.connected {
              color: var(--form-element-valid-border-color);
            }

            &.disconnected {
              color: var(--muted-color);
            }
          }

          span.material-symbols {
            font-size: 24px;
          }
        }

        td.enabled {
          text-align: center;
        }

        td.settings {
          text-align: center;
          padding: 0;
          padding-left: 16px;
          padding-right: 16px;

          span.material-symbols {
            font-size: 18px;
          }
        }
      }
    }
  }
}