dialog.new-client {
  article {
    width: 450px;
  }

  div.field {
    &.node-id {
      margin-top: 0;
    }

    &.privileges .field {
      padding-left: 5px;

      label {
        margin: 10px 0;
      }
    }
  }
}