.modeless-edit-coto {
  > article {
    div.modal-body {
      height: 70vh;

      display: flex;
      flex-direction: column;

      div.cotonoma-form {
        margin-bottom: 8px;
      }
    }
  }

  &.with-media-content div.modal-body {
    height: 80vh;
  }
}
