dialog.clients {
  article {
    max-width: 1200px;
    min-width: 600px;
  }

  div.modal-body {
    padding-top: 0;

    header {
      display: flex;
      flex-direction: row;
      align-items: center;

      margin-top: 10px;

      button.add {
        height: 30px;
        padding: 0;
        padding-left: 8px;
        padding-right: 10px;
        font-size: 14px;

        span.material-symbols {
          font-size: 20px;
          vertical-align: -5px;
        }
      }

      section.client-nodes-count {
        flex: 1;
        text-align: right;
      }
    }

    div.body {
      min-height: 30px;

      section.client-nodes.empty {
        text-align: center;
        color: var(--muted-color);
      }
    }
  }

  section.client-nodes {
    width: 70vw;
    max-width: 800px;
    min-width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;

    div.column {
      &.node-id {
        width: 330px;
      }

      &.name {
        flex: 1;
      }

      &.status {
        width: 60px;
      }

      &.enabled {
        width: 70px;
      }

      &.settings {
        width: 60px;
      }
    }

    .scroll-area {
      max-height: 60vh;
    }

    div.row.client div.column {
      &.node-id {
        text-align: center;
        font-size: 90%;
        white-space: nowrap;

        code {
          color: var(--color);
        }
      }

      &.name {
        text-align: left;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;

        span.not-yet-connected {
          color: var(--muted-color);
          font-size: 90%;
        }

        span.local-node-mark {
          margin-left: 4px;
          font-size: 90%;
          vertical-align: middle;
          opacity: 0.5;
        }
      }

      &.status {
        text-align: center;

        span.status {
          display: inline-block;
          cursor: default;
          border-style: none;

          &.connected {
            color: var(--form-element-valid-border-color);
          }

          &.disconnected {
            color: var(--muted-color);
          }
        }

        span.material-symbols {
          font-size: 24px;
        }
      }

      &.enabled {
        text-align: center;
      }

      &.settings {
        text-align: center;

        button:disabled {
          opacity: 0.1;
        }

        span.material-symbols {
          font-size: 18px;
        }
      }
    }
  }
}