dialog.repost {
  &>article {
    min-width: 600px;
  }

  section.repost-form {
    display: flex;
    flex-direction: row;

    .cotonoma-select {
      flex: 1;

      // Reset the pico style
      input {
        height: auto;

        &:is(:active, :focus) {
          box-shadow: none;
        }
      }
    }

    button.repost {
      height: 39px;
      margin-left: 4px;
      padding-top: 4px;

      span.material-symbols {
        font-size: 20px;
      }
    }
  }

  article.coto {
    padding: 1rem 1rem;

    address.author {
      margin-bottom: 1rem;
    }

    div.body {
      height: 20vh;

      // SimpleBar div
      >div {
        width: 100%;
        height: 100%;
      }

      section.text-content,
      section.cotonoma-content,
      section.media-content {
        padding: 0;
      }
    }

    &:hover {
      background-color: inherit;
    }
  }
}