dialog {
  article {
    padding-bottom: 10px;

    &>header {
      margin-bottom: 0;
      padding: 15px 20px;

      h1 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 800;

        span.title-icon {
          margin-right: 5px;

          span.material-symbols {
            vertical-align: -4px;
            font-size: 21px;
            opacity: 0.6;
          }
        }
      }
    }

    .error {
      color: var(--error-color);
      font-size: 95%;
    }

    &>.error {
      margin-top: 10px;
    }

    div.modal-body {
      padding-top: 20px;
      padding-bottom: var(--spacing);

      h2 {
        margin-bottom: 15px;
        font-size: 1.1rem;
        font-weight: 500;
        border-bottom: 2px dotted var(--pane-border-color);
      }

      >.error {
        margin-bottom: var(--spacing);
      }

      section.message {
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    div.field {
      margin-top: var(--spacing);

      >section.field-name {
        font-weight: 600;
        opacity: 0.8;
      }

      >section.field-content {
        position: relative;
        margin-top: 4px;

        input[readOnly] {
          background-color: var(--card-background-color);
        }

        div.edit {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 10px;

          display: inline-flex;
          flex-direction: row;

          button {
            &.edit {
              font-size: 20px;
            }

            &.save {
              font-size: 22px;
            }

            &.cancel {
              margin-left: 8px;
              font-size: 22px;
            }
          }
        }
      }
    }

    div.buttons {
      margin-top: var(--spacing);
      text-align: right;

      button {
        display: inline-block;

        &:nth-of-type(n+2) {
          margin-left: 10px;
        }
      }
    }
  }
}