dialog.edit-coto {
  article {
    width: calc(var(--max-article-width) + (var(--block-spacing-horizontal) * 2));
    max-width: none;

    div.modal-body {
      height: 70vh;

      display: flex;
      flex-direction: column;

      div.cotonoma-form {
        margin-bottom: 8px;
      }

      div.coto-form {
        flex: 1;
        min-height: 0; // let this item shrink below the content size

        display: flex;
        flex-direction: column;

        section.coto-editor,
        section.coto-preview {
          flex: 1;
        }

        div.split-pane {
          flex: 1;

          .separator-inner {
            border-style: none !important;
          }

          .split-pane-secondary {
            display: flex;
            flex-direction: column;
          }
        }

        section.validation-error {
          padding-top: 4px;
          padding-left: 8px;
        }
      }

      div.buttons {
        span.shortcut-help {
          margin-left: 4px;
          opacity: .7;
          font-size: 0.8rem;
          vertical-align: text-top;
        }
      }
    }
  }

  &.with-media-content div.modal-body {
    height: 80vh;
  }
}