dialog.promote {
  article {
    width: calc(var(--max-article-width) + (var(--block-spacing-horizontal) * 2));
    max-width: none;

    &>header h1 span.title-icon {
      margin-right: 10px;
    }

    div.modal-body {
      height: 60vh;

      display: flex;
      flex-direction: column;

      div.cotonoma-form {
        margin-bottom: 8px;
      }
    }
  }

  &.with-media-content div.modal-body {
    height: 70vh;
  }
}