dialog.subcoto {
  &>article {
    width: calc(var(--max-article-width) + (var(--block-spacing-horizontal) * 2));

    div.modal-body {
      height: 70vh;

      display: flex;
      flex-direction: column;

      div.coto-form {
        flex: 1;
      }
    }
  }

  section.source {
    article.coto div.body div.scroll-area {
      max-height: 150px;
    }
  }

  section.post {
    margin-top: var(--spacing);

    display: flex;
    flex-direction: row;

    div.space {
      flex: 1;
    }

    .cotonoma-select {
      flex: 2;

      span.current-mark {
        margin-left: 4px;
        opacity: 0.5;
      }
    }

    button.post {
      height: 39px;
      margin-left: 10px;
      padding-top: 6px;
    }
  }

  article {
    max-width: none;
  }

  &.with-media-content>article {
    width: calc(var(--max-article-width) + (var(--block-spacing-horizontal) * 2) + 200px);
  }
}