dialog.add-node {
  article {
    max-width: 600px;
  }

  section.introduction {
    margin-top: 20px;
  }

  section.add {
    margin-bottom: var(--spacing);

    section.node-preview {
      section.node-name {
        img.node-icon {
          width: 26px;
          height: 26px;
          border-radius: 4px;
          vertical-align: middle;
          margin-right: 6px;
        }

        .name {
          vertical-align: middle;
        }
      }

      section.node-content {
        margin-top: var(--spacing);
        margin-bottom: var(--spacing);
        border: 1px solid var(--pane-border-color);
        padding: var(--spacing);
        background-color: var(--card-background-color);

        max-height: 200px;
        overflow-y: auto;
      }
    }

    button.cancel {
      margin-right: 10px;
    }
  }
}