dialog.ito-editor {
  &>article {
    min-width: 600px;
  }

  article.coto {
    padding: 1rem 1rem;
  }

  div.buttons {
    button.disconnect {
      span {
        vertical-align: top;
      }

      span.material-symbols {
        margin-right: 4px;
      }
    }
  }
}