dialog.repost {
  &>article {
    min-width: 600px;
  }

  section.repost-form {
    display: flex;
    flex-direction: row;

    .cotonoma-select {
      flex: 1;
      color: var(--color-in-white-background);

      // Reset the pico style
      input {
        height: auto;

        &:is(:active, :focus) {
          box-shadow: none;
        }
      }

      img.node-icon {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        vertical-align: top;
        margin-right: 5px;
      }

      span.cotonoma-name {
        font-weight: 600;
      }

      span.description {
        margin-right: 10px;
        opacity: 0.7;
      }
    }

    button.repost {
      height: 39px;
      margin-left: 4px;
      padding-top: 4px;

      span.material-symbols {
        font-size: 20px;
      }
    }
  }

  article.coto {
    margin-top: 1.5rem;
    padding: 1rem 1rem;

    address.author {
      margin-bottom: 1rem;
    }

    div.body {

      // SimpleBar div
      >div {
        width: 100%;
        max-height: 20vh;
      }

      section.text-content,
      section.cotonoma-content,
      section.media-content {
        padding: 0;
      }
    }

    &:hover {
      background-color: inherit;
    }
  }

  section.already-posted-in {
    margin-top: 1.5rem;
    padding: 1rem 1rem;
    border: 1px dotted var(--pane-border-color);

    h2 {
      font-size: 1rem;
      font-weight: inherit;
      border-style: none;
      opacity: 0.5;
    }

    // SimpleBar div
    >div {
      width: 100%;
      max-height: 20vh;
    }

    ul {
      padding-left: 1rem;

      li {
        margin-bottom: 8px;

        span.cotonoma-name {
          font-weight: 600;
        }
      }
    }

    img.node-icon {
      width: 24px;
      height: 24px;
      border-radius: 4px;
      vertical-align: top;
      margin-right: 5px;
    }
  }

  span.root-mark {
    margin-left: 4px;
    opacity: 0.5;
  }
}