dialog.connect {
  &>article {
    width: 600px;

    div.modal-body {
      padding-top: 12px;
    }
  }

  div.buttons.reverse {
    margin-top: 0;
  }

  section.source {
    margin-top: 12px;
  }

  div.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 6px;
    margin-bottom: 4px;

    span.arrow {
      font-size: 24px;
    }
  }

  div.buttons.connect {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    label.clear-selection {
      margin-right: 20px;
    }
  }

  div.selection {
    button.selection {
      display: block;
      width: 100%;
      height: 100%;

      border-radius: var(--border-radius);

      padding-top: 10px;
      padding-bottom: 10px;

      text-align: center;
      color: var(--selection-color);
      font-weight: 700;

      background-color: var(--embedded-cotobackground-color);
    }
  }
}