dialog.welcome {
  article {
    max-width: 800px;
  }

  header {
    line-height: 34px;

    img.app-icon {
      width: 30px;
      height: 30px;
      margin-right: 5px;
      vertical-align: top;
    }
  }

  div.body {
    display: flex;
    flex-direction: row;

    section.recent-databases {
      // display: none;
      margin-right: 16px;
      max-width: 20rem;
    }

    div.create-or-open {
      width: 25rem;
    }
  }

  section.recent-databases {
    h2 {
      margin-bottom: 5px;
    }

    button.database {
      display: block;
      margin: 0;
      padding: 10px;
      width: 100%;
      color: var(--h3-color);

      &:hover {
        background-color: var(--hover-background-color);
        text-decoration: none;
      }

      img.node-icon {
        width: 18px;
        height: 18px;
        border-radius: 4px;
        vertical-align: text-top;
        margin-right: 5px;
      }

      section.database-path {
        margin-top: 2px;
        font-size: 0.8rem;
        word-break: break-all;
        opacity: .5;
      }
    }
  }

  div.file-select {
    display: flex;
    flex-direction: row;

    div.file-path {
      flex: 1;
      min-width: 0;
      padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
      border: var(--border-width) solid var(--form-element-border-color);
      border-right-style: none;
      border-radius: var(--border-radius);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      outline: none;
      background-color: var(--input-background-color);
      box-shadow: none;
      color: var(--form-element-color);
      font-weight: var(--font-weight);
      font-size: 0.9rem;
      word-break: break-all;

      span.placeholder {
        font-size: 1rem;
        color: var(--muted-color);
      }
    }

    button {
      border-left-style: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      span.material-symbols {
        line-height: 1rem;
        vertical-align: text-bottom;
      }
    }
  }
}