dialog.incorporate {
  article {
    width: 600px;
  }

  section.incorporate {
    margin-bottom: var(--spacing);

    section.node-preview {
      section.child-privileges {
        margin-top: var(--spacing);
        margin-bottom: var(--spacing);
        font-size: 0.9rem;

        span.privileges {
          font-weight: 700;
        }
      }

      section.node-description {
        margin-top: var(--spacing);
        margin-bottom: var(--spacing);
        border: 1px solid var(--pane-border-color);
        padding: var(--spacing);
        background-color: var(--card-background-color);

        max-height: 200px;
        overflow-y: auto;
      }
    }
  }
}