dialog.connect {
  &>article {
    width: 600px;

    div.modal-body {
      padding-top: 12px;
    }
  }

  div.buttons.reverse {
    margin-top: 0;
  }

  section.source {
    margin-top: 12px;
  }

  div.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    span.arrow {
      font-size: 24px;
    }
  }

  article.coto {
    margin-top: 0;
  }

  div.buttons.connect {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    label.clear-selection {
      margin-right: 20px;
    }
  }
}