dialog.link-editor {
  &>article {
    min-width: 600px;
  }

  article.coto {
    padding: 1rem 1rem;

    div.body {

      // SimpleBar div
      >div {
        width: 100%;
        max-height: 20vh;
      }

      section.cotonoma-label,
      section.text-content,
      section.media-content {
        padding: 0;
      }
    }
  }
}