dialog.node-profile {
  article {
    width: 600px;
    padding-bottom: 20px;
  }

  div.body {
    display: flex;
    flex-direction: row;

    div.sidebar {
      width: 120px;
      padding-right: 16px;

      section.node-icon {
        position: relative;

        img {
          border-radius: 4px;
        }

        button.edit {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 24px;
          height: 24px;
          line-height: 24px;
          vertical-align: middle;
          text-align: center;
          background-color: rgba(0, 0, 0, .4);
        }
      }
    }

    div.fields {
      flex: 1;
      padding-left: 16px;

      input[readOnly] {
        background-color: var(--card-background-color);
      }

      div.input-with-tools {
        position: relative;

        div.tools {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 10px;

          button {
            height: 100%;
          }
        }
      }

      div.node-id {
        margin-top: 0;
      }

      section.node-description {
        border: 1px solid var(--pane-border-color);
        padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);

        min-height: 42px;
        max-height: 200px;
        overflow-y: auto;
      }

      section.client-nodes-count {
        border: 1px solid var(--pane-border-color);
        border-radius: var(--border-radius);
        padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
        padding-left: 6px;

        code {
          margin-right: 2px;
        }

        span.separator {
          margin-left: 8px;
          margin-right: 6px;
        }
      }
    }
  }
}