dialog.selection {
  &>article {
    width: 600px;
    padding-left: 0;
    padding-right: 0;

    &>header {
      margin-left: 0;
      margin-right: 0;

      h1 {
        color: var(--selection-color);
      }
    }

    div.selected-cotos {
      max-height: 60vh;

      section.selected-cotos {
        article.coto {
          max-height: none;
          padding-top: 4px;
          padding-bottom: 20px;

          &:nth-child(n+2) {
            border-top: 1px solid var(--pane-border-color);
          }

          button.deselect {
            font-size: 23px;
          }
        }
      }
    }

    div.buttons {
      padding-left: var(--block-spacing-horizontal);
      padding-right: var(--block-spacing-horizontal);
    }
  }
}