dialog.coto-editor {
  article {
    width: var(--max-article-width);

    div.modal-body {
      height: 70vh;

      display: flex;
      flex-direction: column;

      section.media-preview {
        max-height: 30vh;
        padding-bottom: 8px;
      }

      div.form {
        flex: 1;

        section.coto-editor {
          height: 100%;
        }

        section.coto-preview {
          height: 100%;
        }
      }

      div.buttons {
        span.shortcut-help {
          margin-left: 4px;
          opacity: .7;
          font-size: 0.8rem;
          vertical-align: text-top;
        }
      }
    }
  }
}