dialog.parent-sync {
  article {
    width: 600px;
  }

  section.parent-node {
    margin-bottom: 10px;

    span.node {
      img.node-icon {
        width: 22px;
        height: 22px;
      }
    }

    span.progress {
      margin-left: var(--spacing);
      color: var(--muted-color);
      font-size: 90%;
      vertical-align: middle;
    }

    span.result {
      margin-left: var(--spacing);
      color: var(--muted-color);
      font-size: 90%;
      vertical-align: middle;

      span.changes {
        margin-left: var(--spacing);
      }
    }

    span.error {
      margin-left: var(--spacing);
    }
  }
}