dialog {
  article {
    padding-bottom: 10px;

    header {
      margin-bottom: 0;
      padding: 15px 20px;

      h1 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 800;
      }
    }

    .error {
      color: var(--form-element-invalid-border-color);
      font-size: 95%;
    }

    &>.error {
      margin-top: 10px;
    }

    div.body {
      padding-top: 20px;

      section {
        h2 {
          margin-bottom: 15px;
          font-size: 1.1rem;
          font-weight: 500;
          border-bottom: 2px dotted var(--pane-border-color);
        }

        >.error {
          margin-bottom: var(--spacing);
        }
      }
    }

    .input-field {
      margin-bottom: var(--spacing);

      .validation-error {
        font-size: 95%;
        color: var(--form-element-invalid-border-color)
      }
    }

    div.buttons {
      text-align: right;

      button {
        display: inline-block;
      }
    }
  }
}