nav.cotonomas {
  --item-padding-left: 12px;
  --item-font-size: 0.9rem;
  --item-indent-width: 13px;

  header {
    margin-top: 23px;
    padding-bottom: 6px;

    .home {
      span.material-symbols {
        font-size: 1.2rem;
        vertical-align: sub;
        margin-right: 3px;
      }
    }

    section.node-tools {
      margin-top: 12px;
    }
  }

  section.cotonomas {
    overflow-x: hidden;
    overflow-y: hidden;

    h2 {
      margin-left: 8px;
      margin-bottom: 5px;
      font-size: 0.9rem;
      font-weight: 700;
      color: var(--muted-color);
    }

    section>ul {
      margin-left: 3px;
    }

    section.current {
      margin-top: 6px;
    }

    section.recent {
      flex: 1;

      // Prevent the flex item from expanding beyond the expected height.
      min-height: 0;

      margin-top: 6px;
    }

    .more {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
    }

    button.more-sub-cotonomas {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &.sub-cotonomas {
      margin-left: var(--item-indent-width);
    }

    &.has-super-cotonomas {
      .current-cotonoma {
        margin-left: var(--item-indent-width);
      }

      .sub-cotonomas {
        margin-left: calc(var(--item-indent-width) * 2);
      }
    }
  }

  .cotonoma {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: var(--item-padding-left);
    font-size: var(--item-font-size);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a.cotonoma {
    color: var(--h3-color);

    &:hover {
      text-decoration: none;
    }

    &:hover,
    &.highlighted {
      background-color: var(--hover-background-color);
    }
  }

  .focused {
    background-color: var(--focused-background-color);
  }

  .being-deleted {
    opacity: 0.3;
  }

  img.node-icon {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    vertical-align: text-bottom;
    margin-right: 5px;
  }
}