@use "../mixins";

nav.cotonomas {
  --item-padding-left: 12px;
  --item-font-size: 0.9rem;
  --item-indent-width: 13px;

  header {
    margin-top: 23px;

    .home {
      span.material-symbols {
        font-size: 1.2rem;
        vertical-align: sub;
        margin-right: 3px;
      }
    }

    .node-tools {
      margin-top: 1rem;

      details.node-status {
        border-style: none;
        margin: 0;
        margin-bottom: 8px;
        padding: 0;

        summary {
          margin-bottom: 0;
          text-align: center;
          font-size: 0.9rem;

          span.material-symbols {
            margin-right: 3px;
            vertical-align: text-bottom;
          }

          span.busy {
            margin-right: 3px;
          }
        }

        &.no-message summary {
          pointer-events: none;

          &::after {
            display: none;
          }
        }

        &.init-failed {
          summary {
            color: var(--form-element-invalid-border-color);
          }
        }

        p.message {
          margin: 5px 0;
          padding: 0.5rem 1rem;
          font-size: 0.9rem;
          background-color: var(--card-background-color);
          opacity: 0.7;
        }
      }

      .tools {
        text-align: center;

        button.tool {
          margin-left: 5px;

          span.material-symbols {
            font-size: 20px;
            vertical-align: middle;
          }
        }

        span.sync-switch {
          display: inline-block;

          // customize pico style for tooltip
          border-bottom-style: none;
          padding-bottom: 3px;
          cursor: pointer;
        }

        span.separator {
          margin: 0 10px;
          border-right: 1px solid var(--pane-border-color);
          line-height: 20px;
          vertical-align: middle;
        }
      }
    }
  }

  section.cotonomas {
    overflow-x: hidden;
    overflow-y: hidden;

    // SimpleBar div
    >div {
      height: 100%;
    }

    h2 {
      margin-left: 8px;
      margin-bottom: 5px;
      font-size: 0.9rem;
      font-weight: 700;
      color: var(--muted-color);
    }

    section>ul {
      margin-left: 3px;
    }

    section.current {
      margin-top: 16px;
    }

    section.recent {
      flex: 1;

      // Prevent the flex item from expanding beyond the expected height.
      min-height: 0;

      margin-top: 16px;
    }

    .more {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
    }

    button.more-sub-cotonomas {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &.sub-cotonomas {
      margin-left: var(--item-indent-width);
    }

    &.has-super-cotonomas {
      .current-cotonoma {
        margin-left: var(--item-indent-width);
      }

      .sub-cotonomas {
        margin-left: calc(var(--item-indent-width) * 2);
      }
    }
  }

  .cotonoma {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: var(--item-padding-left);
    font-size: var(--item-font-size);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include mixins.force-unselectable;
  }

  a.cotonoma {
    color: var(--h3-color);

    &:hover {
      background-color: var(--hover-background-color);
      text-decoration: none;
    }
  }

  .selected {
    background-color: var(--selected-background-color);
  }

  img.node-icon {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    vertical-align: text-bottom;
    margin-right: 5px;
  }
}