span.node {
  cursor: pointer;

  img.node-icon {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 8px;
  }

  .name {
    vertical-align: middle;
    font-weight: 700;
  }
}

section.client-nodes-count {
  code {
    margin-right: 2px;
  }

  span.separator {
    margin-left: 8px;
    margin-right: 6px;
  }
}

section.node-description {
  padding: var(--spacing);
  background-color: var(--embedded-cotobackground-color);

  section.media-content {
    margin-bottom: 8px;
  }

  section.text-content * {
    font-size: 0.9rem;
  }
}