section.node-tools {
  details.node-status summary {
    font-size: 0.9rem;
  }

  .tools {
    text-align: center;

    button.tool {
      margin-left: 5px;

      &:nth-of-type(n+2) {
        margin-left: 10px;
      }

      span.material-symbols {
        font-size: 20px;
        vertical-align: middle;
      }
    }

    span.sync-switch {
      display: inline-block;

      // customize pico style for tooltip
      border-bottom-style: none;
      padding-bottom: 3px;
      cursor: pointer;
    }

    span.separator {
      margin: 0 10px;
      border-right: 1px solid var(--pane-border-color);
      line-height: 20px;
      vertical-align: middle;
    }
  }
}