@use "../mixins";

section.pins {
  >header {
    --padding-horizontal: 140px;

    position: relative;
    display: flex;
    flex-direction: row;

    padding-left: var(--padding-horizontal); // to center the title 

    section.coto-toolbar {
      top: 10px;
      left: 20px;
      right: auto;
    }

    section.title {
      flex: 1;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: end;

      @include mixins.selectable;

      span.current-cotonoma-name {
        font-size: 18px;
        font-weight: 650;

        img.node-icon {
          width: 20px;
          height: 20px;
          border-radius: 4px;
          margin-right: 8px;
          margin-bottom: 2px;
        }
      }
    }

    section.layout-switch {
      padding-right: 20px;

      button {
        position: relative;
        display: inline-block;
        padding: 4px 10px;
        z-index: 10;

        span.material-symbols {
          font-size: 20px;
        }

        &.selected {
          cursor: initial;
          opacity: 1;
          border-bottom: 1px solid var(--focused-border-color);
        }
      }
    }
  }

  >div.body {
    padding-top: 10px;

    // Make auto-scroll smooth (ex. jump to a pin by clicking on a TOC item)
    >div.scroll-area:not(.simplebar-dragging) .scrollable-pins {
      scroll-behavior: smooth;
    }
  }

  &:hover {
    >header section.coto-toolbar {
      display: inline-block;
    }
  }

  section.super-cotonomas {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;

    a.cotonoma {
      color: var(--default-text-color);

      &:hover {
        text-decoration: none;
      }
    }

    li {
      display: inline;
      margin-left: 4px;
      margin-right: 4px;
      border: 1px solid var(--pane-border-color);
      border-radius: 12px;
      padding: 4px 10px;
      white-space: nowrap;
    }

    ul.of-focused {
      li {
        line-height: 30px;
      }

      img.node-icon {
        width: 16px;
        height: 16px;
        border-radius: 4px;
        vertical-align: text-bottom;
        margin-right: 5px;
      }
    }

    ul.of-pinned {
      margin-top: 8px;
      font-size: 0.8rem;

      li {
        line-height: 28px;
      }

      img.node-icon {
        width: 14px;
        height: 14px;
        border-radius: 4px;
        vertical-align: text-bottom;
        margin-right: 5px;
      }
    }
  }

  div.cotonoma-content {
    max-width: var(--max-article-width);
    margin-top: 8px;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    background-color: var(--card-background-color);

    section.media-content {
      margin-bottom: 8px;
      text-align: center;
    }
  }

  section.pinned-cotos {
    padding-top: 20px;

    section.sibling-group.in-other-nodes {
      div.ito-node {
        img.node-icon {
          width: 16px;
          height: 16px;
          border-radius: 4px;
          margin-right: 5px;
        }

        .name {
          vertical-align: -1px;
          font-size: 15px;
        }
      }
    }

    section.pin {
      background-color: var(--card-background-color);

      &.with-description {
        ul.parents {
          // make space to display the pin with a description
          padding-bottom: 20px;
        }
      }
    }

    article.pinned-coto {
      position: relative;
      padding-top: 20px;

      >div.ito-container {
        position: absolute;
        top: 3px;
        left: 5px;
        z-index: 10;

        &.with-description {
          top: -20px;
          left: 0;
          right: 0;
        }

        button.edit-pin {
          span.material-symbols {
            font-size: 20px;
          }
        }
      }

      ul.parents {
        padding-bottom: 10px;
      }

      div.pinned {
        display: none;
      }

      div.body {
        position: relative;
      }
    }

    div.itos-not-yet-loaded {
      padding-bottom: 6px;
      background-color: var(--card-background-color);
      text-align: center;

      div.loading {
        padding-top: 3px;
        height: 30px;
      }

      span.material-symbols {
        font-size: 24px;
      }
    }

    article.sub-coto {
      padding-top: 4px;
      padding-left: 8px;

      ul.parents {
        padding-bottom: 10px;
      }

      .body {
        display: flex;
        flex-direction: row;
        align-items: center;

        div.content {
          flex: 1;
          min-width: 0; // let this item shrink below the content size
        }

        div.has-itos {
          flex: 0 0 30px;
          padding-right: 10px;

          button.open-traversal {
            height: 24px;
            line-height: 24px;

            span.material-symbols {
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  div.document-layout {
    --toc-width: 200px;
    container-type: inline-size;
    padding-left: 16px;
    padding-right: 16px;

    // Heading font size
    article.pinned-coto {
      &>div.body section.cotonoma-label {
        font-size: 1.1rem;
      }

      &.has-children>div.body {

        section.text-content p:first-child,
        span.summary {
          font-size: 1.1rem;
        }
      }
    }

    // Disable card-background-color in document-layout
    article.coto,
    div.itos-not-yet-loaded,
    section.sub-cotos {
      background-color: var(--background-color);
    }

    section.pinned-cotos {
      padding-bottom: 20px;

      &>.sibling-group.in-other-nodes {
        margin-top: 6rem;
        padding: 10px;
        padding-top: 8px;

        background-color: var(--embedded-cotobackground-color);

        article.coto,
        div.itos-not-yet-loaded,
        ul.parents {
          background-color: var(--embedded-cotobackground-color);
        }

        div.ito-node {
          text-align: right;
          padding-right: 8px;
          padding-bottom: 8px;
        }
      }
    }

    section.pin {
      margin-bottom: 3rem;
    }

    div.pins-with-toc {
      max-width: var(--max-article-width);
      margin-right: auto;
      margin-left: auto;

      div.toc {
        display: none; // hidden by default
        height: 80vh;

        position: -webkit-sticky;
        position: sticky;
        top: 0;

        .simplebar-content-wrapper {
          padding-right: 10px;
        }

        .sibling-group.in-other-nodes {
          margin-top: 3rem;

          div.ito-node {
            margin-bottom: 4px;
            padding: 8px 15px 10px 15px;
            background-color: var(--embedded-cotobackground-color);
            border-radius: 10px 10px 0 0;

            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            img.node-icon {
              width: 15px;
              height: 15px;
              border-radius: 3px;
              margin-right: 5px;
            }

            .name {
              vertical-align: baseline;
              font-size: 14px;
            }
          }
        }

        div.toc-entry {
          opacity: 0.6;

          &.active {
            opacity: 1;
            font-weight: 550;
          }

          button {
            width: 100%;
            margin-bottom: 3px;
            padding: 5px 15px;
            font-size: 0.9rem;

            &:hover,
            &.highlighted {
              background-color: var(--hover-background-color);
            }

            img.node-icon {
              width: 16px;
              height: 16px;
              border-radius: 4px;
              vertical-align: text-bottom;
              margin-right: 5px;
            }
          }
        }
      }
    }

    @container (min-width: 50rem) {
      div.pins-with-toc {
        display: flex;
        flex-direction: row;

        max-width: calc(var(--max-article-width) + var(--toc-width));

        section.pinned-cotos {
          flex: 1;
          min-width: 0; // let this item shrink below the content size
        }

        div.toc {
          display: block;
          width: var(--toc-width);
        }
      }
    }
  }

  .columns-layout {
    padding-right: 16px;

    .simplebar-content-wrapper {
      overflow-x: auto;
      overflow-y: hidden;

      .simplebar-content {
        height: 100%;
      }
    }

    section.pinned-cotos {
      display: flex;
      flex-direction: row;
      height: 100%;
      padding-left: 16px;

      &>.sibling-group {
        &.in-other-nodes {
          margin-left: 2rem;

          display: flex;
          flex-direction: column;

          div.ito-node {
            padding-bottom: 8px;
          }
        }

        &>.siblings-in-group {
          display: flex;
          flex-direction: row;
          height: 100%;
          min-height: 0; // let this item shrink below the content size
        }
      }
    }

    section.pin {
      flex: 1;
      min-width: 400px;
      margin-right: 16px;

      display: flex;
      flex-direction: column;

      .scrollable-sub-cotos {
        min-height: 0; // let this item shrink below the content size

        .simplebar-content-wrapper {
          padding-right: 10px;
        }
      }

      section.sub-cotos {
        padding-top: 16px; // make space to prevent the toolbar from being hidden
        padding-bottom: 3rem;
      }

      article.pinned-coto section.reorder-toolbar button.tool {
        transform: rotate(-90deg);
      }
    }
  }

  div.masonry-layout {
    section.pinned-cotos {
      padding-left: 16px;
      padding-right: 16px;
    }

    div.pinned-sibling-groups>.sibling-group.in-other-nodes {
      margin-top: 3rem;
      padding: 10px;
      padding-top: 8px;

      background-color: var(--embedded-cotobackground-color);

      div.ito-node {
        text-align: right;
        padding-right: 8px;
        padding-bottom: 8px;
      }
    }

    div.column-width-slider {
      margin-bottom: 10px;
      text-align: right;

      input {
        width: 150px;
      }
    }

    section.pin {
      border: 1px solid var(--pane-border-color);
    }

    div.sub-coto div.content section.text-content * {
      font-size: 0.9rem;
    }

    article.pinned-coto {
      >div.ito-container {
        padding-left: 0;

        &.with-description {
          top: -15px;
          left: -3px;
          right: 0;
        }
      }

      section.reorder-toolbar {
        display: none;
      }

      section.media-content {
        margin-top: 1rem; // to avoid overlapping with the pin icon
      }
    }

    div.ito-container {
      padding-left: 8px;
    }

    section.media-content {
      padding: 0;
    }

    article.sub-coto {
      padding-left: 0;

      div.body div.has-itos {
        padding-left: 4px;
        padding-right: 0;
      }
    }
  }
}