section.search {
  >header {
    padding: 10px;
    text-align: center;

    span.material-symbols {
      margin-right: 4px;
      font-size: 18px;
      vertical-align: bottom;
    }

    span.query {
      vertical-align: text-bottom;
      font-weight: 600;
    }
  }

  >div.body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}