section.search {
  >header {
    padding: 10px;
    text-align: center;
    background-color: var(--background-color);

    span.material-symbols {
      margin-right: 4px;
      font-size: 20px;
      vertical-align: bottom;
    }

    span.query {
      vertical-align: text-bottom;
      font-size: 18px;
      font-weight: 650;
    }
  }

  >div.body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--background-color);
  }
}