.stock.pane {
  >.pane-toggle {
    left: 0;
    right: auto;

    button {
      left: -4px;
      right: auto;
    }
  }

  // prevent the icon from overflowing to right side of page 
  &.folded>.pane-toggle {
    left: auto;
    right: 0;

    button {
      left: auto;
      right: 0;
      overflow: hidden;
    }
  }
}

section.stock {
  position: relative;

  article.coto {
    >header {
      padding-right: 10px;
    }
  }

  section.linked-cotos {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    section.map {
      // display: none;
      flex: 0 0 400px;
      border-bottom: 1px solid var(--pane-border-color);
    }

    section.pinned-cotos {
      flex: 1;
      min-height: 0; // let this item shrink below the content size
    }

    &.with-traversals-opened {

      // SimpleBar div
      >div {
        width: 100%;
        height: 100%;

        >.simplebar-wrapper>.simplebar-mask>.simplebar-offset>.simplebar-content-wrapper {
          overflow-x: auto;
          overflow-y: hidden;

          >.simplebar-content {
            display: flex;
            flex-direction: row;
            height: 100%;

            section.pinned-cotos {
              min-width: 600px;
            }
          }
        }

        &:not(.simplebar-dragging)>.simplebar-wrapper>.simplebar-mask>.simplebar-offset>.simplebar-content-wrapper {
          scroll-behavior: smooth;
        }
      }

      // prevent the column-view horizontal scrollbar from overlapping with the stock's scrollbar
      .column-view .simplebar-horizontal {
        bottom: 10px;
      }
    }

    section.traversals {
      // display: none;
      border-left: 1px solid var(--pane-border-color);
    }
  }
}