.stock.pane {
  >.pane-toggle {
    left: 0;
    right: auto;

    button {
      left: -4px;
      right: auto;
    }
  }

  &.map-opened>.pane-toggle {
    color: var(--background-color);
  }

  // prevent the icon from overflowing to the right side of screen 
  &.folded>.pane-toggle {
    left: auto;
    right: 0;

    color: var(--color);

    button {
      left: auto;
      right: 0;
      overflow: hidden;
    }
  }
}

section.stock {
  position: relative;

  .split-pane {
    height: 100%;
  }

  div.map {
    position: relative;

    div.close-map-button {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30px;
      height: 26px;
      color: var(--background-color);

      button.close-map {
        opacity: .5;

        &:hover {
          opacity: 1;
        }

        span.material-symbols {
          font-size: 24px;
        }
      }
    }
  }

  section.coto-graph {
    article.coto {
      padding-bottom: 0;

      section.reorder-toolbar {
        bottom: -22px;
      }

      >header {
        padding-right: 10px;
      }

      >footer {
        padding: 0;
        padding-right: 10px;
        padding-bottom: 8px;
      }
    }

    article.sub-coto {
      div.link-container.with-linking-phrase>div.link {
        margin-top: 4px;
      }
    }

    &.with-traversals-opened {

      div.scroll-area.pins-and-traversals {
        .scrollable-pins-and-traversals {
          overflow-x: auto;
          overflow-y: hidden;

          >.simplebar-content {
            display: flex;
            flex-direction: row;
            height: 100%;

            section.pins {
              min-width: 600px;
            }
          }
        }

        // Make auto-scroll smooth (ex. open a new traversal)
        &:not(.simplebar-dragging) .scrollable-pins-and-traversals {
          scroll-behavior: smooth;
        }
      }

      // prevent the column-view horizontal scrollbar from overlapping with the stock's scrollbar
      .column-view .simplebar-horizontal {
        bottom: 10px;
      }
    }

    section.traversals {
      // display: none;
      border-left: 1px solid var(--pane-border-color);
    }
  }
}