section.stock {
  position: relative;

  .split-pane {
    height: 100%;
  }

  div.map {
    position: relative;

    button.change-split-orientation {
      position: absolute;
      top: 10px;
      left: 12px;
      padding: 0 6px;

      display: none;

      span.material-symbols {
        color: hsl(205, 20%, 32%);
        font-size: 26px;
      }
    }

    button.close-map {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30px;
      height: 26px;
      color: hsl(205, 20%, 32%);
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }

      span.material-symbols {
        font-size: 24px;
      }
    }

    &:hover {
      button.change-split-orientation {
        display: block;
      }
    }
  }
}