section.timeline {
  header.tools {
    align-items: center;

    div.search {
      position: relative;
      margin: 0;
      padding: 0;
      width: 50%;

      input[type=search] {
        margin: 0;
        width: 100%;
        height: 30px;
        border-radius: 4px;
        border-color: var(--pane-border-color);
        background-position: center left 8px;
        padding-inline-start: calc(var(--form-element-spacing-horizontal) + 16px);
        font-size: 14px;
      }

      button.close {
        position: absolute;
        top: 0;
        right: 2px;

        width: 30px;
        height: 30px;

        opacity: 0.5;

        span.material-symbols {
          font-size: 16px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .posts {
    overflow-x: hidden;
    overflow-y: hidden;

    // SimpleBar div
    >div {
      height: 100%;
    }

    .more {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
    }
  }

  .post {
    border-bottom: 1px solid var(--pane-border-color);

    &.posted {
      @keyframes slide-in-top {
        0% {
          transform: translateY(-50px);
        }

        100% {
          transform: translateY(0);
        }
      }

      animation: slide-in-top 0.3s linear;
    }

    .repost-header {
      padding: 0 var(--block-spacing-horizontal);
      padding-top: 5px;
      color: var(--muted-color);
      background-color: var(--card-background-color);

      span.material-symbols {
        font-size: 1.2rem;
        vertical-align: middle;
      }

      a.reposted-in {
        margin-left: 4px;
        font-size: 0.8rem;
        color: var(--muted-color);
        text-decoration: underline;
      }

      address.reposter {
        display: inline;
        margin-left: 16px;
        color: var(--muted-color);
        font-size: 0.9rem;

        img.node-icon {
          width: 15px;
          height: 15px;
          border-radius: 3px;
        }
      }
    }
  }

  .waiting-post {
    position: relative;
    border-bottom: 1px solid var(--pane-border-color);

    article.coto {
      padding: 2rem 0;
      opacity: 0.4;

      section.error {
        padding: 0 var(--block-spacing-horizontal);
        margin-bottom: 1rem;
        color: red;
        font-weight: 650;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 24px;
      height: 24px;
    }
  }

  article.coto {
    padding: 1rem 0;

    >header {
      padding: 0 var(--block-spacing-horizontal);

      address.author {
        color: var(--muted-color);
      }
    }

    section.media-content {
      padding-left: 0; // fit to the left border
    }

    footer {
      background: inherit;
      text-align: right;
      margin: 0;
      padding: 0 var(--block-spacing-horizontal);
      border-style: none;

      time {
        font-size: 0.8rem;
        opacity: .5;
      }
    }
  }

  div.links {
    background-color: var(--card-background-color);
    text-align: center;

    button.open-traversal span.material-symbols {
      font-size: 24px;
    }
  }
}