section.traversals {
  display: flex;
  flex-direction: row;

  section.traversal {
    flex: 1;
    max-width: var(--max-article-width);
    min-width: 500px;
    background-color: var(--traversal-background-color);

    &>header.tools {
      // place the close button to the left because the right side could be hidden when overflowing
      flex-direction: row;
    }

    &>.body {
      div.scrollable-traversal {
        padding: 10px;
        padding-top: 40px;
        padding-bottom: 60px;
      }

      // Make auto-scroll smooth (ex. open a next step)
      div.scroll-area.traversal:not(.simplebar-dragging) div.scrollable-traversal {
        scroll-behavior: smooth;
      }
    }

    div.arrow {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      opacity: .4;

      span.material-symbols {
        font-size: 24px;
      }
    }

    div.parents {
      opacity: .6;

      ul.traverse-to-parents {
        li {
          background-color: var(--background-color);

          button.parent {
            display: block;
            width: 100%;
            margin-bottom: 4px;
            padding: 6px 12px;
            color: var(--h6-color);

            &:hover {
              background-color: var(--hover-background-color);
              text-decoration: none;
            }
          }
        }
      }
    }

    section.coto-toolbar {
      right: 0;
    }

    article.step-coto {
      padding-top: 20px;
    }

    article.traversed {
      border: 2px dashed var(--traversed-border-color);

      .body {
        opacity: .5;
      }
    }

    article.sub-coto {
      ul.parents {
        padding-bottom: 10px;
      }

      .body {
        display: flex;
        flex-direction: row;
        align-items: center;

        div.content {
          flex: 1;
          min-width: 0; // let this item shrink below the content size

          section.abbreviated-content {
            padding: 0 var(--block-spacing-horizontal);
          }
        }

        div.traverse {
          flex: 0 0 30px;

          button.traverse {
            span.material-symbols {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}