section.notice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 2px dotted var(--pane-border-color);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 16px;
  background-color: var(--card-background-color);

  span.material-symbols {
    font-size: 20px;
    margin-right: 8px;

    &.completed {
      color: var(--form-element-valid-border-color);
    }
  }
}

button span.shortcut-help {
  margin-left: 4px;
  opacity: .7;
  font-size: 0.8rem;
  vertical-align: text-top;
}

button.help {
  margin-left: 8px;
  vertical-align: middle;
  opacity: 0.5;

  &:disabled {
    opacity: 1;
  }
}

section.help {
  position: relative;
  border: 1px dashed var(--pane-border-color);
  border-radius: var(--border-radius);
  margin-bottom: 20px;
  padding: 16px;

  button.close {
    position: absolute;
    top: 6px;
    right: 6px;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    background-size: auto 0.8rem;
  }
}

.validation-error {
  font-size: 95%;
  color: var(--error-color)
}

section.input-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px dashed var(--pane-border-color);
  border-radius: 4px;

  &.drag-active {
    border-color: var(--color);
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    color: var(--muted-color);
    text-align: center;
  }
}